@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-color: #050414;
    color: white;
    overflow-x: hidden;
  }
}

@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
  }

  .clip-path-custom-2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 95%, 0 98%);
  }
}
